---
import Container from "@components/container.astro";
import SectionHead from "@components/section-head.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Page Not Found">
  <Container>
    <SectionHead>
      <Fragment slot="title">404</Fragment>
      <Fragment slot="desc">Page Not Found</Fragment>
    </SectionHead>

    <main class="mt-8 flex justify-center">
      <a
        href="/"
        class="border-neutral border-opacity-50 rounded-lg border-2 p-2"
        aria-label="Back to Home Page"
      >
        Back to Home
      </a>
    </main>
  </Container>
</Layout>
