---
import Container from "@components/container.astro";
import SectionHead from "@components/section-head.astro";
import Layout from "@layouts/Layout.astro";
import achievements from "@data/achievements.json";

const academic = achievements.academic;
const professional = achievements.professional;
---

<Layout title="Achievements">
  <Container>
    <SectionHead>
      <Fragment slot="title">Achievements</Fragment>
      <Fragment slot="desc"
        >Professional & Academic Achievements of Dr. G. Sreenivasulu</Fragment
      >
    </SectionHead>

    <div class="mx-auto max-w-4xl">
      <h2 class="mt-8 pb-2 text-2xl font-semibold sm:text-3xl">
        Professional Achievements
      </h2>

      <ul class="list-disc pl-5">
        {professional.map((value) => <li class="py-2">{value}</li>)}
      </ul>

      <h2 class="mt-4 pb-2 text-2xl font-semibold sm:text-3xl">
        Academic Achievements
      </h2>

      <ul class="list-disc pl-5">
        {academic.map((value) => <li class="py-2">{value}</li>)}
      </ul>
    </div>
  </Container>
</Layout>
