---
import Container from "@components/container.astro";
import SectionHead from "@components/section-head.astro";
import Layout from "@layouts/Layout.astro";
import AwardCard from "@components/award-card.astro";
import { awards } from "@data/awards.json";
import { compareDatesDesc } from "@utils/utils"
---

<Layout title="Awards">
  <Container>
    <SectionHead>
      <Fragment slot="title">Awards</Fragment>
      <Fragment slot="desc">Awards received by Dr. G. Sreenivasulu</Fragment>
    </SectionHead>

    <main class="mt-4 flex flex-col items-center gap-8">
      {
        awards.sort((a1,a2) => compareDatesDesc(a1.date, a2.date)).map((award) => (
          <AwardCard
            title={award.title}
            description={award.description}
            date={award.date}
            images={award.images}
          />
        ))
      }
    </main>
  </Container>
</Layout>

<script src="../utils/photo-swipe.js"></script>
