---
import Container from "@components/container.astro";
import SectionHead from "@components/section-head.astro";
import Layout from "@layouts/Layout.astro";
import AwardCard from "@components/award-card.astro";
import { compareDatesDesc } from "@utils/utils";
import { getCollection } from "astro:content";

const awards = await getCollection("awards");

awards.sort((a1, a2) => compareDatesDesc(a1.data.date, a2.data.date));
---

<Layout title="Awards">
  <Container>
    <SectionHead>
      <Fragment slot="title">Awards</Fragment>
      <Fragment slot="desc">Awards received by Dr. G. Sreenivasulu</Fragment>
    </SectionHead>

    <main class="mt-4 flex flex-col items-center gap-8">
      {awards.map((award) => <AwardCard {award} />)}
    </main>
  </Container>
</Layout>

<script src="../utils/photo-swipe.js"></script>
