---
import Container from "@components/container.astro";
import SectionHead from "@components/section-head.astro";
import Layout from "@layouts/Layout.astro";

import BookCard from "@components/book-card.astro";
import { getCollection } from "astro:content";

const bookChapters = await getCollection("bookChapters");

bookChapters.sort((b1, b2) => b2.data.yearPublished - b1.data.yearPublished);
---

<Layout title="Book Chapters">
  <Container>
    <SectionHead>
      <Fragment slot="title">Book Chapters</Fragment>
      <Fragment slot="desc"
        >Book Chapters authored by Dr. G. Sreenivasulu</Fragment
      >
    </SectionHead>
    <main class="mx-auto mt-8 flex max-w-3xl justify-center">
      <div
        class="grid grid-cols-1 justify-items-center gap-10 md:justify-items-start"
      >
        {bookChapters.map((book) => <BookCard {book} />)}
      </div>
    </main>
  </Container>
</Layout>
