---
import Container from "@components/container.astro";
import SectionHead from "@components/section-head.astro";
import Layout from "@layouts/Layout.astro";
import BookCard from "@components/book-card.astro";
import { getCollection } from "astro:content";

const booksPublished = await getCollection("booksPublished");

booksPublished.sort(
  (b1, b2) =>
    b2.data.yearPublished - b1.data.yearPublished ||
    booksPublished.indexOf(b2) - booksPublished.indexOf(b1)
);
---

<Layout title="Books Published">
  <Container>
    <SectionHead>
      <Fragment slot="title">Books Published</Fragment>
      <Fragment slot="desc">
        Books Published by Dr. G. Sreenivasulu, et al.
      </Fragment>
    </SectionHead>
    <main class="mx-auto mt-8 flex max-w-3xl justify-center">
      <div
        class="grid grid-cols-1 justify-items-center gap-10 md:justify-items-start"
      >
        {booksPublished.map((book) => <BookCard {book} />)}
      </div>
    </main>
  </Container>
</Layout>
