---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import SectionHead from "@components/section-head.astro";
import ContactForm from "@components/contactform.astro";
---

<Layout title="Contact">
  <Container>
    <SectionHead>
      <Fragment slot="title">Contact</Fragment>
      <Fragment slot="desc"></Fragment>
    </SectionHead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16 lg:mt-32">
      <div>
        <p class="text-md leading-relaxed text-slate-600 mt-3">
          Thank you for visiting my portfolio website! If you have any
          questions, feedback, or would like to work with me, please don't
          hesitate to get in touch.
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-500 w-4 h-4" name="uil:map-marker" />
            <span>Hyderabad, India</span>
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-500 w-4 h-4" name="uil:envelope" /><a
              href="mailto:contact@sreenivasulu.com">contact@sreenivasulu.com</a
            >
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-500 w-4 h-4" name="uil:linkedin" /><a
              target="_blank"
              href="https://www.linkedin.com/in/g-sreenivasulu/">in/g-sreenivasulu</a>
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
