---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";

import j_and_c from "@data/journals-and-conferences.json";

const journals = j_and_c.journals;
const conferences = j_and_c.conferences;
---

<Layout title="Journals & Conferences">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Journals & Conferences</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>

    <main class="mx-auto max-w-4xl">
      <h3 class="text-3xl font-semibold m-4 mt-8">Journals</h3>
      {
        journals.map((item) => (
          <div class="m-4 p-4 border-2 rounded-lg">{item}</div>
        ))
      }
      <h3 class="text-3xl font-semibold m-4">Conferences</h3>
      {
        conferences.map((item) => (
          <div class="m-4 p-4 border-2 rounded-lg">{item}</div>
        ))
      }
    </main>
  </Container>
</Layout>
