---
import Container from "@components/container.astro";
import SectionHead from "@components/section-head.astro";
import Layout from "@layouts/Layout.astro";
import PatentCard from "@components/patent-card.astro";

import { compareDatesDesc } from "@utils/utils";
import { getCollection } from "astro:content";

const nationalPatents = await getCollection("nationalPatents");

nationalPatents.sort((a, b) =>
  compareDatesDesc(a.data.dateFiled, b.data.dateFiled),
);

const internationalPatents = await getCollection("internationalPatents");

internationalPatents.sort((a, b) =>
  compareDatesDesc(a.data.dateFiled, b.data.dateFiled),
);
---

<Layout title="Patents">
  <Container>
    <SectionHead>
      <Fragment slot="title">Patents</Fragment>
      <Fragment slot="desc">
        National and International Patents filed by Dr. G. Sreenivasulu, et al.
      </Fragment>
    </SectionHead>

    <div class="mx-auto max-w-4xl">
      <h2 class="m-4 mt-8 text-3xl font-semibold">National Patents</h2>
      {nationalPatents.map((patent) => <PatentCard {patent} />)}
      <h2 class="m-4 text-3xl font-semibold">International Patents</h2>
      {internationalPatents.map((patent) => <PatentCard {patent} />)}
    </div>
  </Container>
</Layout>
