---
import Container from "@components/container.astro";
import SectionHead from "@components/section-head.astro";
import Layout from "@layouts/Layout.astro";
import ResourceCard from "@components/resource-card.astro";
import { getCollection } from "astro:content";

const resources = await getCollection("resources");
---

<Layout title="Resources">
  <Container>
    <SectionHead>
      <Fragment slot="title">Resources</Fragment>
      <Fragment slot="desc"> Resources by Dr. G. Sreenivasulu </Fragment>
    </SectionHead>

    <div class="mx-auto flex max-w-6xl justify-center space-y-2 py-5">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
        {resources.map((resource) => <ResourceCard {resource} />)}
      </div>
    </div>
  </Container>
</Layout>
