---
import { Icon } from "astro-icon";
---

<footer class="mt-20 mb-10">

  <div class="my-4 flex justify-center gap-3">
    <a href="https://www.linkedin.com/in/dr-sreenivasulu/" target="_blank" aria-label="Dr G Sreenivasulu's Linkedin Profile">
      <Icon pack="mdi" name="linkedin" class="h-8"/>
    </a>

    <a href="https://github.com/g-sreenivasulu/" target="_blank" aria-label="Dr G Sreenivasulu's Github Profile">
      <Icon pack="mdi" name="github" class="h-8"/>
    </a>

    <a href="mailto:contact@sreenivasulu.com" aria-label="Dr G Sreenivasulu's Email">
      <Icon pack="mdi" name="email" class="h-8"/>
    </a>

    <a href="https://www.facebook.com/sreenivasulu.gogula/" target="_blank" aria-label="Dr G Sreenivasulu's Facebook Profile">
      <Icon pack="mdi" name="facebook" class="h-8"/>
    </a> 
  </div>
  <div class="text-center mb-2"> 
    <a class="text-sm text-slate-500 hover:underline" href="/terms">Terms</a>
  </div>
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} Dr. G. Sreenivasulu
  </p>
</footer>
