<footer class="bg-gray-900 py-16">
  <div class="container mx-auto lg:pl-28 flex justify-center">
    <div class="flex flex-wrap justify-center w-full">
      <!-- Name -->
      <div class="w-full md:w-1/4 mb-8 md:mb-0 px-4">
        <h3 class="text-white text-lg mb-4 leading-tight">Dr. G. Sreenivasulu </h3>
        <button class="bg-slate-200 hover:bg-slate-300 text-slate-800 font-semibold py-2 px-4 rounded">
          Contact
        </button>
      </div>

        </div>
  </div>
  
  
</footer>
