<footer class="bg-gray-900 py-12 mt-20">
  <div class="container mx-auto lg:pl-28 flex justify-center">
    <div class="flex flex-wrap justify-center w-full">
      <!-- Name -->
      <div class="w-full md:w-1/4 mb-8 md:mb-0 px-4">
        <h3 class="text-white text-lg mb-4 leading-tight">Dr. G. Sreenivasulu </h3>
        <button class="bg-slate-200 hover:bg-slate-300 text-slate-800 font-semibold py-2 px-4 rounded">
          <a href="/contact">Contact</a>
        </button>
      </div>

      <!-- Navigation links -->
      <div class="w-full md:w-1/4 mb-8 md:mb-0 px-4">
        <h3 class="text-white text-lg mb-4 leading-tight">Navigation</h3>
        <ul class="text-gray-400 leading-loose">
          <li><a href="/" class="hover:text-white">Home</a></li>
          <li><a href="#" class="hover:text-white">About</a></li>
          <li><a href="/awards" class="hover:text-white">Awards</a></li>
          <li><a href="/blog" class="hover:text-white">Blog</a></li>
          <li><a href="/achievements" class="hover:text-white">Achievements</a></li>
          <li><a href="/journals-and-conferences" class="hover:text-white">Journals and Conferences</a></li>
          <li><a href="/patents" class="hover:text-white">Patents</a></li>
          <li><a href="/book-chapters" class="hover:text-white">Book-Chapters</a></li>
          <li><a href="/books-published" class="hover:text-white">Books-Published</a></li>
          <li><a href="#" class="hover:text-white">Resources</a></li>
        </ul>
      </div>

      <!-- socials -->
      <div class="w-full md:w-1/4 mb-8 md:mb-0 px-4">
        <h3 class="text-white text-lg mb-4 leading-tight">Socials</h3>
        <ul class="text-gray-400 leading-loose">
          <li><a target="_blank" href="https://www.linkedin.com/in/dr-sreenivasulu/" class="hover:text-white">LinkedIn</a></li>
          <li><a target="_blank" href="https://github.com/g-sreenivasulu/" class="hover:text-white">GitHub</a></li>
          <li><a href="mailto:contact@sreenivasulu.com" class="hover:text-white">Gmail</a></li>
          <li><a target="_blank" href="https://www.facebook.com/sreenivasulu.gogula/" class="hover:text-white">Facebook</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center mb-2 mt-6"> 
    <a class="text-slate-400 hover:underline" href="/terms">Terms</a>
  </div>

  <p class="text-center text-sm text-slate-400">
    Copyright © {new Date().getFullYear()} Dr. Sreenivasulu Gogula
  </p>

</footer>
