---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import TimeLineElement from "./timeline.astro";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      aspectRatio="4:3"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-2xl md:text-5xl font-bold lg:tracking-tight xl:tracking-tighter">
      Dr. Sreenivasulu Gogula
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Astroship is a starter template for startups, marketing websites & landing
      pages.<wbr /> Built with Astro.build and TailwindCSS. You can quickly create
      any website with this starter.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://web3templates.com/templates/astroship-starter-website-template-for-astro"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />

        Download for Free
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/surjithctly/astroship"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
        GitHub Repo
      </Link>
    </div>
  </div>
</main>

<div title="Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I am Dr. Sreenivasulu Gogula, an accomplished Professor and Head of the
    Department of CSE (Artificial Intelligence & Machine Learning) at ACE
    Engineering College, Hyderabad. With a Doctoral degree from JNTUH and a
    focus on Deep learning and Natural Language Processing, I am a renowned
    author and researcher in the field of Machine Learning and Deep Learning. I
    have filed more than 10 National patents and been granted 3 International
    Australian Patents, demonstrating my commitment to innovation and
    excellence.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Doctor of Philosophy (PhD) in Computer Science and Engineering"
      subtitle="2006 to 2009 at JNTUH, Hyderabad "
    />
    <TimeLineElement
      title="M.Tech in Computer Science and Engineering"
      subtitle="2010 to 2015 at Sathayabama University, Chennai"
    />

    <TimeLineElement
      title="M.Sc in Computer Science"
      subtitle="2010 to 2015 at S.V. University, Tirupathi"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Professor & Head of the Department of CSE (Artificial Intelligence and Machine Learning) at ACE Engineering College, Ghatkesar"
      subtitle="February 2012 - Till date."
      desc=""
    />
    <TimeLineElement
      title="Associate Professor In the Department of CSE at Vardhaman College of Engineering"
      subtitle="June 2008 - June 2008"
      desc=""
    />
    <TimeLineElement
      title="Asst.Professor (Sr.Grade) in the Department of Computer Science and Engineering at Vardhaman college of Engineering"
      subtitle="June 2007 - May 2008"
      desc=""
    />
    <TimeLineElement
      title="Asst.Professor in the Department of Computer Science and Engineering at Priyadarshini college of Engineering, Sullurpet, Nellore(Dist)"
      subtitle="May 2004 - June 2005"
      desc=""
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">
      NPTEL & Coursera-AICTE Certifications
    </div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a> Data Science for Engineers from IIT Chennai (IITM)</a>
    </li>
    <li>
      <a> Database Management Systems from IIT, Chennai(IITM)</a>
    </li>
    <li>
      <a> Deep Learning from IIT, Kharagpur (IITKGP)</a>
    </li>
    <li>
      <a> Programming for Everybody (Getting started with Python)</a>
    </li>
    <li>
      <a> AI for Everyone</a>
    </li>
    <li>
      <a> Introduction to Data Science in Python</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Subjects Taught</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>Machine Learning </li>
    <li>Artificial Intelligence</li>
    <li>Associate Analytics</li>
    <li>Computer Networks</li>
    <li>Database Management Systems</li>
    <li>Data Warehousing and Mining</li>
    <li>Cryptography and Network Security</li>
    <li>Data Communications</li>
    <li>Wireless and Mobile networks</li>
    <li>Object Oriented and Analysis of Algorithms</li>
  </ul>
</div>
