---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/h1.jpeg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import profile from "@data/home.json" ;

const heroText = profile.herosection;
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-2 pb-8 md:pt-12 md:pb-24">
  <div class="hidden sm:block md:pt-10 lg:pt-0 sm:pb-5 md:pb-0 md:order-1">
    <Picture
      width={960}
      height={1017}
      src={heroImage}
      alt="Dr. Sreenivasulu Gogula"
      widths={[400, 720]}
      aspectRatio={1/1}
      sizes="(max-width: 800px) 720px, 720px"
      loading="eager"
      format="webp"
      class={"rounded-md"}
    />
  </div>
  <div class="sm:hidden py-6 md:order-1">
    <Picture
      width={500}
      height={500}
      src={heroImage}
      alt="Dr. Sreenivasulu Gogula"
      widths={[200, 904]}
      aspectRatio="1:1"
      sizes="904px"
      loading="eager"
      format="webp"
      class={"rounded-md"}
    />
  </div>
  <div>
    <h1
      class="text-2xl md:text-5xl font-bold lg:tracking-tight xl:tracking-tighter">
      Dr. Sreenivasulu Gogula
    </h1>
    <p class="text-base mt-4 max-w-xl">
      {heroText}
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="/journals-and-conferences"
        class="flex gap-1 items-center justify-center"
        >
        <Icon pack="mdi" name="book" class="h-5"/>
        Journals & Conferences
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="/patents"
        class="flex gap-1 items-center justify-center"
        >
        <Icon pack="mdi" name="certificate" class="h-5"/>
        Patents
      </Link>
      <Link
      size="lg"
      style="outline"
      href="https://scholar.google.com/citations?user=LI_W3n4AAAAJ&hl=en"
      target="_blank"
      class="flex gap-1 items-center justify-center"
      >
      Google Scholar
      <Icon pack="mdi" name="open-in-new" class="h-5"/>
    </Link>
    </div>
  </div>
</main>

