---
import TimeLineElement from "./timeline.astro";
---

<div>
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Profile</div>
    </div>
  
    <div class="mb-10 mx-4 text-left">
      I am Dr. Sreenivasulu Gogula, an accomplished Professor and Head of the
      Department of CSE (Artificial Intelligence & Machine Learning) at ACE
      Engineering College, Hyderabad. With a Doctoral degree from JNTUH and a
      focus on Deep learning and Natural Language Processing, I am a renowned
      author and researcher in the field of Machine Learning and Deep Learning. I
      have filed more than 10 National patents and been granted 3 International
      Australian Patents, demonstrating my commitment to innovation and
      excellence.
    </div>
  
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Education</div>
    </div>
  
    <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement
        title="Postgraduate Diploma in Artificial Intelligence and Machine Learning"
        subtitle="2022 at University of Hyderabad (UoH), in Association with Applied Roots Pvt Ltd., Hyderabad"
      />

      <TimeLineElement
        title="Doctor of Philosophy (PhD) in Computer Science and Engineering"
        subtitle="2019 at JNTUH, Hyderabad "
      />

      <TimeLineElement
        title="M.Tech in Computer Science and Engineering"
        subtitle="2005 - 2007 at Sathayabama University, Chennai"
      />
    </div>
  
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Experience</div>
    </div>
  
    <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement
        title="Professor & Head of the Department of CSE (Artificial Intelligence and Machine Learning) at ACE Engineering College, Hyderabad"
        subtitle="February 2011 - Till date."
      />
      <TimeLineElement
        title="Associate Professor In the Department of CSE at Vardhaman College of Engineering, Hyderabad"
        subtitle="June 2008 - January 2011"
      />
      <TimeLineElement
        title="Asst.Professor (Sr.Grade) in the Department of Computer Science and Engineering at Vardhaman college of Engineering, Hyderabad"
        subtitle="June 2007 - May 2008"
      />
      <TimeLineElement
        title="Asst.Professor in the Department of Computer Science and Engineering at Priyadarshini college of Engineering, Nellore"
        subtitle="May 2004 - June 2005"
      />
    </div>
  
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">
        NPTEL & Coursera-AICTE Certifications
      </div>
    </div>
  
    <ul class="list-disc mx-6 mb-10 grid gap-2">
      <li>
        <a> Data Science for Engineers from IIT Chennai (IITM)</a>
      </li>
      <li>
        <a> Database Management Systems from IIT, Chennai(IITM)</a>
      </li>
      <li>
        <a> Deep Learning from IIT, Kharagpur (IITKGP)</a>
      </li>
      <li>
        <a> Programming for Everybody (Getting started with Python)</a>
      </li>
      <li>
        <a> AI for Everyone</a>
      </li>
      <li>
        <a> Introduction to Data Science in Python</a>
      </li>
    </ul>
  
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Subjects Taught</div>
    </div>
  
    <ul class="list-disc mx-6 mb-10 grid gap-2">
      <li>DevOps </li>
      <li>Machine Learning </li>
      <li>Artificial Intelligence</li>
      <li>Associate Analytics</li>
      <li>Computer Networks</li>
      <li>Database Management Systems</li>
      <li>Data Warehousing and Mining</li>
      <li>Cryptography and Network Security</li>
      <li>Data Communications</li>
      <li>Wireless and Mobile networks</li>
      <li>Object Oriented and Analysis of Algorithms</li>
    </ul>
  </div>
  