---
import { Picture } from "astro:assets";

interface Props {
  title: string;
  cover_photo: string;
  url: string;
}
const { title, cover_photo, url } = Astro.props;
---

<div>
  <a target="_blank" href={url}>
    <Picture
      class="aspect-video overflow-hidden rounded-lg transition duration-150 ease-in-out hover:scale-[102%]"
      src={cover_photo}
      alt={title}
      height={197}
      width={350}
      widths={[350]}
      sizes="(max-width: 800px) 100vw, 350px"
    />
  </a>

  <p class="mt-2 pb-5 text-center text-xl font-medium">
    {title}
  </p>
</div>
